<app-return-home></app-return-home>
<a routerLink="/characters" class="return-character"><img height="70px" src="../../../../../assets/arrow-left-free-icon-font.png"></a>
<div class="detail">
    <h1>{{ detailCharacter.name }}</h1>
    <div class="img">

        <img src="{{ detailCharacter.image }}" />
    </div>
</div>

<div class="detail-info">
    <div class="detail-info-item" >
        <h1>{{"house"| translate}}</h1>
        <div class="div-shield" *ngFor="let item of detailHouse,index as i">
            
            <img class="shield" *ngIf="detailCharacter.house === item.name" src="{{item['logoURL'] ?? '../../../../../assets/580b585b2edbce24c47b290c.png' }}" >
            <!-- <img class="shield" *ngIf="detailCharacter.house[1] === item.name" src="{{item['logoURL']}}" > -->
            <!-- <img *ngIf="!item['logoURL']" class="shield" src="../../../../../assets/580b585b2edbce24c47b290c.png" > -->
        </div>       
               
    </div>
    
    <div class="detail-info-item">
        <h1>{{"alle"| translate}}</h1>
        <div class="detail-info-item-list" *ngFor="let item of detailCharacter.allegiances">
            <p>{{item}}</p>
        </div>
            <!-- <p>{{ detailCharacter.allegiances}}</p> -->
    </div>
    
    <div class="detail-info-item">
        <H1>{{"appear"| translate}}</H1>
        <div class="detail-info-item__appear">
            <ngx-simplebar style="height: 15rem" [options]="options">
        <div *ngFor="let item of detailCharacter.appearances">
            <p>{{ item }}</p>
        </div>
    </ngx-simplebar>
</div>
</div>

<div class="detail-info-item">
    <h1>{{"fath"| translate}}</h1> 
    <div class="detail-info-item-list">

        <p>{{ detailCharacter.father }}</p>
        <p *ngIf="!detailCharacter.father">Hijo bastardo</p>
    </div>
</div>

<div class="detail-info-item">
    <h1>{{"sibl"| translate}}</h1>
    <div class="detail-info-item-list" *ngFor="let item of detailCharacter.siblings">

        <p>{{ item }}</p>
    </div>
</div>

<div class="detail-info-item">
    <h1>{{"tit"| translate}}</h1>
    <div class="detail-info-item__appear">
        <ngx-simplebar style="height: 15rem" [options]="options">
            <div *ngFor="let item of detailCharacter.titles">
                <p>{{ item }}</p>
            </div>
        </ngx-simplebar>
    </div>
</div>
</div>


