.gallery-chronology {
  display: flex;
  justify-content: center;
}
.text {
  display: relative;
  color: rgb(214, 16, 16);
  font-size: 0.001rem;
//   text-overflow: clip;
  margin-top: 20%;
  transition: font-size 0.4s ease;
}
.par {
  transition: 0.5s ease-in;
  border-radius: 25px;
  border: solid rgb(17, 60, 29) 3px;
  border-left: none;
}
.par:hover {
    transform: translateX(1rem);
    .text {
       
        transform: translate3d(2);
        overflow: hidden;
        font-size: 1rem;
        // bottom: 20rem;
    }
}
.impar {
  transition: 1s ease-in;
  border-radius: 25px;
  border: solid rgb(37, 22, 22) 3px;
  border-right: none;
}
.impar:hover {
  transform: translateX(-2rem);
  .imgImpar {
    transform: translateX(-2rem) scale(1.4);
    width: auto;
  }
  .text {
    display: flex;
    transform: translate3d(2);
    overflow: hidden;
    font-size: 1rem;
    bottom: 2rem;
  }
}
.image {
  display: flex;
  justify-content: center;
}

.imgPar {
  position: relative;
  height: 12rem;
  width: 10rem;
  object-fit: cover;
  border: white solid 1px;
  border-radius: 50%;
  margin: 1rem;
  right: 1rem;
}
.imgImpar {
    transition: 1s ease;
  position: relative;
  height: 12rem;
  width: 10rem;

  object-fit: cover;
  border: white solid 1px;
  border-radius: 50%;
  margin: 1rem;
}

ngx-simplebar {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 79vh;
  background-color: rgb(0, 0, 0);
  margin-top: 8vh;
}
// display: flex;
// // flex-direction: column;
// justify-content: center;
// width: 100vw;
