header{   
   
    position: fixed;
    width: 100%;
    bottom: 5%;
}
a {
    text-decoration: none;
    font-size: 2rem;
    color: white;
   
}
.navBar{
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    text-align: center;
    
}
.nav-bar {
    text-underline-offset: none;
    font-size: 4rem;
    color: olive; 
    border-bottom: white solid 3px;
}
.nav-bar:hover {
    text-shadow: rgb(90, 10, 10) 3px 3px 0px;
}