
h1{
    font-family: got;
    font-size: 12rem;
    color: transparent;
    background-image: linear-gradient(180deg,white 0%,black 70%);
    background-clip: text;
    text-align: center;
    font-weight: 90;
}

